:root {
  --repeat-columns: 4;
  --repeat-rows: 4;
}

#board {
  width: 80vmin;
  height: 80vmin;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(var(--repeat-columns), 1fr);
  grid-template-rows: repeat(var(--repeat-rows), 1fr);
  gap: 1% 1%;
}
