:root {
  --repeat-columns: 4;
  --repeat-rows: 4;
}

//2x2 = 4 34.5vmin 1
//3x2 = 6 22.66vmin 1.5
//4x2 = 8 16.75. (70-3)/4 2
//4x3 = 12 16.75 1.333
//4x4 = 16 16.75 1
//5x4 = 20 13.2 1.25
//6x4 = 24 10.833 1.5
//6x5 = 30 1.2

:root {
  --repeat-columns: 4;
  --repeat-rows: 4;
  --square-root: 11.9vmin; // sqrt(50*46/total)
}

.board-container {
  box-sizing: border-box;
  margin-top: 14vmin;
  width: 80vmin;
  background: center / contain no-repeat url("../assets/levelpanel.png");

  height: 60vmin;
  padding: 4vmin 6vmin;

  display: flex;
  align-items: center;
  justify-content: center;
}

// max width 80vmin - 12vmin = 68vmin
// max height 60vmin - 12vmin = 48vmin

#board {
  display: grid;
  grid-template-columns: repeat(var(--repeat-columns), var(--square-root));
  grid-template-rows: repeat(var(--repeat-rows), var(--square-root));
  margin: auto;
}

.levels {
  list-style: none;
  padding: 0;
}

.type {
  list-style: none;
  padding: 0;
}
